:root {
    /* colors */
    --clr-extra-light-gray: 0, 0%, 95%;
    --clr-dark: 248, 28%, 37%;
    --clr-blue: 251, 49%, 51%;
    --clr-green-dark: 168, 100%, 8%;
    --clr-yellow-brown: 58, 100%, 44%;
    --ff-roboto: 'Roboto', sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* Flexbox */

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* ----------------------------- */

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: hsl(var(--clr-green-dark));
    font-family: var(--ff-roboto);
    font-size: 0.9rem;
  }

  .wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

.flex-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    flex-grow: 1;
    
}

.menu{
  margin-top: 5rem;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .container > div,
  .result-table-container {
    position: fixed;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    filter: blur(20px);
    transform: scale(.5);
  }

  .container > div > button{
    pointer-events: none;
  }
  
  .container > div.active,
  .result-table-container.active
   {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    filter: blur(0);
    transform: scale(1);
  }

  .container > div.active > button{
    pointer-events: auto;
  }
  
  .container > #playground {
    opacity: 1;
    z-index: 0;
    transform: scale(1);
    filter: blur(0);
  }
  
  .container > div.active ~ #playground {
    opacity: .75;
    filter: blur(10px);
    transform: scale(.95);
  }

  .result-table-container{
    position: relative;
  }

  .res-content{
    position: absolute;
    right: 3rem;
    top: 1rem;
  }



  .table-row{
    padding-inline: 0.5rem;
    margin: 0.5rem;
    background-color: hsl(var(--clr-blue));
    text-align: justify;
  }

  .gameHeader{
    margin: 0.3rem;
    font-size: 1rem;
    color: aliceblue;
  }

  .score-layout{
    min-width: 10rem;
  }

  .score-layout>div:first-child{
    border-bottom: 2px solid black;
  }

  .date-fs{
    font-size: 1.2em;
    
  }


  
  button {
    background-color: hsl(var(--clr-yellow-brown));
    border: 0;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 1rem;
    min-width: 160px;
    outline: none;
    transition: .25s;
    opacity: .75;
    cursor: pointer;
  }

  .score-button{
    width: 12rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 48px;
    margin-top: 0;
  }
  h2 {
    color: #5d651f;
    letter-spacing: 2px;
   
  }



#leftDino,
#rightDino{
    display: none;
}

footer{
    flex-grow: 0;
  flex-shrink: 0;
    container-type:inline-size;
    height: 5cqi;
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-extra-light-gray));
    font-size: 2cqi;
    padding: 1cqi 2cqi;
    margin-inline: clamp(0.3rem,1rem + 1vw,1.5rem);
}

footer a {
    text-decoration: none;
    color: inherit;
}

.course-logo {
    background-color: white;
    width:10cqi;
}

